{
  "project_info": {
    "project_number": "1234567890",
    "project_id": "dummy-project"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:0987654321",
        "android_client_info": {
          "package_name": "dev.elainedb.ytdash_android_gemini"
        }
      },
      "api_key": [
        {
          "current_key": "dummy_key"
        }
      ]
    }
  ]
}